In [28]:
import pandas as pd
import numpy as np
import math

In [29]:
data = pd.read_csv('titanic_data.csv')
data

,Survived,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,0,22.0,1,0,7.2500
1,1,1,1,38.0,1,0,71.2833
2,1,3,1,26.0,0,0,7.9250
3,1,1,1,35.0,1,0,53.1000
4,0,3,0,35.0,0,0,8.0500
...,...,...,...,...,...,...,...
882,0,2,0,27.0,0,0,13.0000
883,1,1,1,19.0,0,0,30.0000
884,0,3,1,7.0,1,2,23.4500
885,1,1,0,26.0,0,0,30.0000
886,0,3,0,32.0,0,0,7.7500

In [179]:
y_label = data['Survived'].to_numpy()
X = data.drop(['Survived'], axis=1).to_numpy()
N, D = X.shape

In [192]:
def dot(theta, X, i):
    N, D = X.shape
    ans = theta[0]
    for j in range(D):
        ans = ans + theta[j]*X[i,j]
    return ans

In [193]:
def l(theta, X):
    ans = 0
    N, D = X.shape
    for i in range(N):
        ans = ans \
        -y_label[i]*math.log(1+math.exp(-dot(theta, X, i)))\
        -(1-y_label[i])*math.log(1+math.exp(dot(theta, X, i)))
    return ans

In [220]:
def nabla_l(theta, X):
    N, D = X.shape
    ans = np.zeros(D)
    for i in range(N):
        ans = ans + \
        (y_label[i] - 1/(1+math.exp(-dot(theta, X, i)))) * X[i,]
    return ans

In [222]:
# init parameter
theta = [1 for i in range(D+1)]