In [488]:
import pandas as pd
import numpy as np
import math

In [489]:
data = pd.read_csv('titanic_data.csv')
data

,Survived,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,0,22.0,1,0,7.2500
1,1,1,1,38.0,1,0,71.2833
2,1,3,1,26.0,0,0,7.9250
3,1,1,1,35.0,1,0,53.1000
4,0,3,0,35.0,0,0,8.0500
...,...,...,...,...,...,...,...
882,0,2,0,27.0,0,0,13.0000
883,1,1,1,19.0,0,0,30.0000
884,0,3,1,7.0,1,2,23.4500
885,1,1,0,26.0,0,0,30.0000
886,0,3,0,32.0,0,0,7.7500

In [490]:
y_label = data['Survived'].to_numpy()
X = data.drop(['Survived'], axis=1).to_numpy()
N, D = X.shape
X = np.append(np.array([[1] for i in range(N)]), X, axis=1)
N, D = X.shape

In [492]:
def dot(theta, X, i):
    N, D = X.shape
    ans = 0
    for j in range(D):
        ans = ans + theta[j]*X[i,j]
    return ans

In [493]:
def l(theta, X):
    ans = 0
    N, D = X.shape
    for i in range(N):
        ans = ans \
        -y_label[i]*math.log(1+math.exp(-dot(theta, X, i)))\
        -(1-y_label[i])*math.log(1+math.exp(dot(theta, X, i)))
    return ans

In [494]:
def nabla_l(theta, X):
    N, D = X.shape
    ans = np.zeros(D)
    for i in range(N):
        ans = ans + \
        (y_label[i] - 1/(1+math.exp(-dot(theta, X, i)))) * X[i,]
    return ans

In [495]:
def hessian(theta, X):
    N, D = X.shape
    ans = np.zeros((D,D))
    for i in range(N):
        ans = ans \
        - np.dot(np.asmatrix(X[i,]).T, np.asmatrix(X[i,]))\
        * math.exp(-dot(theta, X, i)) \
        / (1+math.exp(-dot(theta, X, i)))**2
    return ans

In [521]:
def GradientAscent(theta, X, epsilon):
    nabla = nabla_l(theta, X)
    nabla_norm = np.linalg.norm(nabla)
    print("theta = ", theta)
    print("nabla_norm = ", nabla_norm, "\n")
    while nabla_norm > epsilon:
        Hessian = hessian(theta, X)
        alpha = np.dot(np.linalg.inv(Hessian), nabla)
        theta = theta - np.array(alpha)[0]
        nabla = nabla_l(theta, X)
        nabla_norm = np.linalg.norm(nabla)
        print("theta = ", theta)
        print("nabla_norm = ", nabla_norm, "\n")
    return theta

In [522]:
# init parameter
N, D = X.shape
theta = np.array([0 for i in range(D)])
epsilon = 1e-12

In [524]:
# fit
theta = GradientAscent(theta, X, epsilon)
print("l(theta) = ", l(theta, X))

theta =  [0 0 0 0 0 0 0]
nabla_norm =  4043.297274997574

theta =  [ 1.29729102e+00 -7.20135362e-01  2.03094224e+00 -2.47886747e-02
 -2.01165383e-01 -7.71336514e-02  1.61359036e-03]
nabla_norm =  851.9838354569268

theta =  [ 2.24795287e+00 -1.07328272e+00  2.59294853e+00 -3.90996306e-02
 -3.45601865e-01 -1.03378863e-01  2.50249418e-03]
nabla_norm =  153.64209589402654

theta =  [ 2.52222201 -1.17135233  2.74707544 -0.04320928 -0.39757009 -0.10654932
  0.00276689]
nabla_norm =  8.466344116460553

theta =  [ 2.5398976  -1.17763361  2.75724004 -0.04347261 -0.40180868 -0.10650616
  0.00278559]
nabla_norm =  0.030917228852270735

theta =  [ 2.53996931 -1.17765865  2.75728235 -0.04347367 -0.40183102 -0.10650523
  0.00278568]
nabla_norm =  4.4255611198936867e-07

l(theta) =  -390.4659647547062